<?xml version="1.0" encoding="utf-8"?>
<data>
    <selenium-options>
        <headless-mode>
            False
        </headless-mode>
    </selenium-options>
    <item name="flamingo-ball">
        <path>
            https://www.amazon.de/ballonfritz%C2%AE-Flamingo-Ballon-Riesenballon-Geburtstagsgeschenk/dp/B07D24S144/ref=sr_1_5?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91
            keywords=flamingo+ballon qid=1561379051 s=gateway sr=8-5
        </path>
    </item>
    <item name="ballon-led">
        <path>
            https://www.amazon.de/Parsion-Luftballon-Dekoration-Hochzeit-Weihnachten/dp/B07GVJTF9F?pf_rd_p=60191f42-e6ff-44b0-99ea-4f38d292d7e3
            pd_rd_wg=F97Ae pf_rd_r=G1Z1GA1MZCFVH7TEJR14 ref_=pd_gw_bia_d0 pd_rd_w=4PHSG
            pd_rd_r=559ac9d1-54c0-4748-b17d-0ee7d2563c4c
        </path>
    </item>

    <item name="trinkflasche-720">
        <path>
            https://www.amazon.de/Trinkflasche-uberBottle-Wasserflasche-Sportflasche-Fitnessstudio/dp/B01F2HWLAC/ref=sr_1_3?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91
            keywords=wasserflasche qid=1561401943 s=sports sr=1-3
        </path>
    </item>
    <item name="trinkflasche-720">
        <path>
            https://www.amazon.de/H-24-Schl%C3%BCsselanh%C3%A4nger-beschriftbar-Schl%C3%BCsselschilder-auswechselbare/dp/B01EEJR2N0/ref=sr_1_5?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91
            keywords=M%26H-24+Schl%C3%BCsselanh%C3%A4nger+beschriftbar+zum+Beschriften qid=1561448976 s=gateway sr=8-5
        </path>
    </item>
    <item name="bauchtasche-noname-schwarz">
        <path>
            https://www.amazon.de/Frentree-Bauchtasche-G%C3%BCrteltasche-H%C3%BCfttasche-unterwegs/dp/B0777VQ2RC/ref=sr_1_1_sspa?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91
            keywords=bauchtasche qid=1561450591 s=toys sr=1-1-spons psc=1
        </path>
    </item>
    <item name="bauchtasche-noname-pink">
        <path>
            https://www.amazon.de/Bauchtasche-Damen-Herren-Rosa-Wasserabweisend/dp/B07M8GN9HT/ref=sr_1_2_sspa?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91
            keywords=bauchtasche qid=1561450632 s=toys sr=1-2-spons psc=1
        </path>
    </item>
    <item name="pool-kinder">
        <path>
            https://www.amazon.de/Intex-Babypool-Farblich-Sortiert-Sortierte/dp/B00C6A5OOO/ref=zg_bs_toys_2?_encoding=UTF8
            psc=1 refRID=C0J3ZWNNTB83X8CCETQ0
        </path>
    </item>
    <item name="pluesch-pokemon-kinder">
        <path>
            https://www.amazon.de/Tomy-Pikachu-Pl%C3%BCsch-Hochwertiges-Stofftier/dp/B00TV402ZE/ref=zg_bs_360533031_3?_encoding=UTF8
            psc=1 refRID=BMJDJYC24NVJZFK8R8PK
        </path>
    </item>
    <item name="wasserkocher-glas">
        <path>
            https://www.amazon.de/Aigostar-Adam-30GOM-LED-Beleuchtung-Trockenlaufschutz/dp/B01CUECKYC/ref=sr_1_5?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91
            crid=ALJG1RPA1PPK keywords=wasserkocher qid=1561463747 s=gateway sprefix=wasserko%2Caps%2C180 sr=8-5
        </path>
    </item>
    <item name="wimpern">
        <path>
            https://www.amazon.de/Anself-Falsche-Nat%C3%BCrliche-Unsichtbares-Wiederverwendbar/dp/B078MNHRBC/ref=sr_1_5?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91
            keywords=wimpern qid=1561464048 s=gateway sr=8-5
        </path>
    </item>
    <item name="bluetooth-in-ear">
        <path>
            https://www.amazon.de/Neueste%E3%80%91Antimi-Bluetooth-Kopfh%C3%B6rer-Cancelling-Wasserdicht-Schwarz/dp/B07MGG1G4L/ref=sr_1_4?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91
            crid=1M1YWTWAHK0NM keywords=bluetooth+kopfh%C3%B6rer qid=1561464108 s=gateway sprefix=bluetooth+%2Caps%2C178
            sr=8-4
        </path>
    </item>
    <item name="wimpern-meltem-599">
        <path>
            https://www.amazon.de/dp/B07Q83WGL3/ref=cm_sw_r_other_apa_i_M9jfDb94AC7QP
        </path>
    </item>
</data>


